@import "../../styles/uikit-imports.scss";

.header {
  padding: 40px 15px 0 15px; // Added horizontal padding to prevent content hitting edges
  background: linear-gradient(180deg, $global-muted-background 0%, transparent 100%);
  border-radius: 0 0 40px 40px;
}

.avatarWrapper {
  box-shadow: var(--global-medium-shadow);
  border-radius: 50%;
  border: 4px solid $global-background;
  background: $global-background;
}
