// 1. Your custom variables and variable overwrites.
@import 'uikit-variables';

// 2. Import default variables and available mixins from UIkit.
@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

// 3. Your custom mixin overwrites.
// For example:
// @mixin hook-card() { color: #000; }

// 4. Import the full UIkit theme.
@import 'uikit/src/scss/uikit-theme.scss';
