// Your custom UIkit variable overrides will go here.
// For example:
// $global-primary-background: #BF3026;

$navbar-nav-item-text-transform: none;

$global-primary-background: #009ae3;
$global-border-radius: 5px;
