@import "../../styles/uikit-imports";

.uploadArea {
  transition: all 0.2s ease-in-out;
  border: 1px dashed $global-border;

  &:global(.uk-dragover) {
    border-style: solid;
    border-color: $global-primary-background !important;
    background-color: color-mix(in srgb, $global-primary-background, transparent 95%);
    box-shadow: 0 0 10px color-mix(in srgb, $global-primary-background, transparent 80%);
  }
}
