@import '../../styles/uikit-imports';

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 0; // Remove extra space under image
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.defaultPlaceholder {
  width: 100%;
  height: 100%;
  background: $global-muted-background;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent 0,
      rgba(255, 255, 255, 0.05) 20%,
      rgba(255, 255, 255, 0.1) 60%,
      transparent
    );
    animation: shimmer 2s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.image {
  transition: opacity 0.3s ease-in-out;
  
  &.hidden {
    opacity: 0;
  }
  
  &.loaded {
    opacity: 1;
  }
}

.placeholderIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $global-muted-background;
  width: 100%;
  height: 100%;
}

.placeholderIcon {
  width: 33%;
  height: 33%;
  color: $global-muted-color;
  opacity: 0.6;
}
