@import '../../styles/uikit-imports';

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 0; // Remove extra space under image
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.defaultPlaceholder {
  width: 100%;
  height: 100%;
  background: $global-muted-background;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.image {
  transition: opacity 0.3s ease-in-out;
  
  &.hidden {
    opacity: 0;
  }
  
  &.loaded {
    opacity: 1;
  }
}
